

/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* src/index.css or any other CSS file */
.about-content {
  transition: transform 0.5s;
}
.about-content:hover {
  transform: scale(1.05);
}
/* Tailwind CSS Flip Effect */
@layer utilities {
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
}

/* Home Page Animations */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fade-in 1s ease-out forwards;
    opacity: 0;
  }

  .animate-fade-in-delay {
    animation: fade-in 1s ease-out 0.3s forwards;
    opacity: 0;
  }

  .animate-fade-in-delay-2 {
    animation: fade-in 1s ease-out 0.6s forwards;
    opacity: 0;
  }

  .animate-fade-in-delay-3 {
    animation: fade-in 1s ease-out 0.9s forwards;
    opacity: 0;
  }

  .animate-fade-in-delay-4 {
    animation: fade-in 1s ease-out 1.2s forwards;
    opacity: 0;
  }

  .animate-slide-up {
    animation: slide-up 1.2s ease-out forwards;
    opacity: 0;
  }

  .animate-blink {
    animation: blink 1s infinite;
  }

  .animate-scroll {
    animation: scroll 2s infinite;
  }

  .delay-1000 {
    animation-delay: 1s;
  }

  .animate-pulse-delayed {
    animation: pulse 6s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    animation-delay: 2s;
  }
}
